body {
  margin-top: 50vh;
  background-color: rgb(177, 237, 244);
}

.MaterialForm > form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  
  border-radius: 20px;
  
}
